name: ci

on:
  [push, pull_request]:
  brnches:
  - main

jobs:
  build:
    steps:
      - name: checkout et python setup
        uses: actions/checkout@v4
        uses: actions/setup-python@v5
        with:
          python-version: '3.14.2'
    

