name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-python@v5
          with:
            python-version: 3.14.2

        - name: environnement virtuel Python
          run: python -m venv .venv

        - name: activation 
          run: source .venv/bin/activate

        - name: dependancies
          run: pip install -r requirements.txt

        - name: var d'environnement
          run: export FLASK_APP=app/main.py

        - name: tests
          run: .venv/bin/activate tests.py

        - name: tree
          needs: environnement virtuel Python
          uses: jaywcjlove/github-action-folder-tree@main
          id: tree
          with:
            path: ./bin
          run: echo "${{ steps.tree.outputs.tree }}"
        # - name: Linting
        #   run: .venv/bin/flake8.exe .

